ProjekatSaBazom/WEB-INF/shema/NotificationRaw.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.toomanysecrets.com/notification"
    xmlns="http://www.toomanysecrets.com/notification" elementFormDefault="qualified"
    xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="2.0">

    <xs:element name="notification">

        <xs:complexType>
            <xs:sequence>
                <xs:element name="code" type="xs:int"/>
                <xs:element name="notificationstring" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>

    </xs:element>
</xs:schema>
