WsImplement/WEB-INF/shema/Fault.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.toomanysecrets.com/tipovi" xmlns="http://www.toomanysecrets.com/tipovi"
	elementFormDefault="qualified" xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
	jxb:version="2.0">
	<xs:element name="fault">

		<xs:complexType>
			<xs:sequence>
			<xs:element name="faultstring" type="xs:string" />
				<xs:element name="faultcode" type="xs:QName" />
				<xs:element name="faultactor" type="xs:anyURI" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>

	</xs:element>
</xs:schema>