WsImplement/WEB-INF/shema/PresekRaw.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.toomanysecrets.com/tipovi"
    xmlns="http://www.toomanysecrets.com/tipovi"
    xmlns:jxb="http://java.sun.com/xml/ns/jaxb" 
    jxb:version="2.0">
    <xs:element name="presek">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="zaglavlje">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="brojRacuna">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="[0-9]{3}[0-9]{13}[0-9]{2}"/>
                                        <xs:minLength value="18"/>
                                        <xs:maxLength value="18"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="datumNaloga">
                            	<xs:simpleType>
									<xs:annotation>
										<xs:appinfo>
											<jxb:javaType name="java.util.Date" parseMethod="util.MyDatatypeConverter.parseDate" printMethod="util.MyDatatypeConverter.printDate" />
										</xs:appinfo>
									</xs:annotation>
									<xs:restriction base="xs:date">
										<xs:minInclusive value="1900-01-01" />
										<xs:maxInclusive value="2200-01-01" />
									</xs:restriction>
								</xs:simpleType>
                            </xs:element>
                            <xs:element name="brojPreseka">
                                <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                        <xs:totalDigits value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="prethodnoStanje">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="15"/>
                                        <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="brojPromenaUKorist">
                                <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                        <xs:totalDigits value="6"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="ukupnoUKorist">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="15"/>
                                        <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="brojPromenaNaTeret">
                                <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                        <xs:totalDigits value="6"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="ukupnoNaTeret">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="15"/>
                                        <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="novoStanje">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="15"/>
                                        <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" name="stavka">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="duznikNalogodavac">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="255"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="svrhaPlacanja">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="255"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="primalacPoverilac">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="255"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="datumNaloga">
                            	<xs:simpleType>
									<xs:annotation>
										<xs:appinfo>
											<jxb:javaType name="java.util.Date" parseMethod="util.MyDatatypeConverter.parseDate" printMethod="util.MyDatatypeConverter.printDate" />
										</xs:appinfo>
									</xs:annotation>
									<xs:restriction base="xs:date">
										<xs:minInclusive value="1900-01-01" />
										<xs:maxInclusive value="2200-01-01" />
									</xs:restriction>
								</xs:simpleType>
                            </xs:element>
                            <xs:element name="datumValute">
                            	<xs:simpleType>
									<xs:annotation>
										<xs:appinfo>
											<jxb:javaType name="java.util.Date" parseMethod="util.MyDatatypeConverter.parseDate" printMethod="util.MyDatatypeConverter.printDate" />
										</xs:appinfo>
									</xs:annotation>
									<xs:restriction base="xs:date">
										<xs:minInclusive value="1900-01-01" />
										<xs:maxInclusive value="2200-01-01" />
									</xs:restriction>
								</xs:simpleType>
                            </xs:element>
                            <xs:element name="racunDuznika">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="18"/>
                                        <xs:maxLength value="18"/>
                                        <xs:pattern value="[0-9]{3}[0-9]{13}[0-9]{2}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="modelZaduzenja">
                                <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                        <xs:totalDigits value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="pozivNaBrojZaduzenja">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="racunPoverioca">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="18"/>
                                        <xs:maxLength value="18"/>
                                        <xs:pattern value="[0-9]{3}[0-9]{13}[0-9]{2}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="modelOdobrenja">
                                <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                        <xs:totalDigits value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="pozivNaBrojOdobrenja">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="iznos">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="15"/>
                                        <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="smer">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="1"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
