ProjekatSaBazom/WEB-INF/wsdl/OdobrenjeMt.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions targetNamespace="http://www.toomanysecrets.com/OdobrenjeMt"
    xmlns:ws="http://www.toomanysecrets.com/OdobrenjeMt"
    xmlns:external1="http://www.toomanysecrets.com/mt102"
    xmlns:external2="http://www.toomanysecrets.com/mt103"
    xmlns:external3="http://www.toomanysecrets.com/mt910"
    xmlns:external4="http://www.toomanysecrets.com/notification"
    name="OdobrenjeMt"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">


<wsdl:import namespace="http://www.toomanysecrets.com/mt102" location="http://localhost:8080/MT102Crypt.xsd" />
<wsdl:import namespace="http://www.toomanysecrets.com/mt103" location="http://localhost:8080/MT103Crypt.xsd" />
<wsdl:import namespace="http://www.toomanysecrets.com/mt910" location="http://localhost:8080/MT910Crypt.xsd" />
<wsdl:import namespace="http://www.toomanysecrets.com/notification" location="http://localhost:8080/NotificationCrypt.xsd" />   
    
    <wsdl:message name="mt102Request">
        <wsdl:part name="mt102" element="external1:MT102"/>
    </wsdl:message>
    
    
    <wsdl:message name="mt103Request">
        <wsdl:part name="mt103" element="external2:MT103"/>
    </wsdl:message>
    
    
    <wsdl:message name="mt910Request">
        <wsdl:part name="mt910" element="external3:MT910"/>
    </wsdl:message>
    
    
    <wsdl:message name="notificationResponse">
        <wsdl:part name="notification" element="external4:notification"/>
    </wsdl:message>
    
    <wsdl:portType name="OdobrenjeMtPortType">
        <wsdl:operation name="PrihvatiMT102">
            <wsdl:input name="mt102Input" message="ws:mt102Request"/>
            <wsdl:output name="notif1Output" message="ws:notificationResponse"/>
        </wsdl:operation>
        
        <wsdl:operation name="PrihvatiMT103">
            <wsdl:input name="mt103Input" message="ws:mt103Request"/>
            <wsdl:output name="notif2Output" message="ws:notificationResponse"/>
        </wsdl:operation>
        
        <wsdl:operation name="PrihvatiMT910">
            <wsdl:input name="mt910Input" message="ws:mt910Request"/>
            <wsdl:output name="notif3Output" message="ws:notificationResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    
    
    <wsdl:binding name="OdobrenjeMtBinding" type="ws:OdobrenjeMtPortType">
        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />
        
        <wsdl:operation name="PrihvatiMT102">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="mt102Input"><soap:body use="literal"/></wsdl:input>
            <wsdl:output name="notif1Output"><soap:body use="literal"/></wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="PrihvatiMT103">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="mt103Input"><soap:body use="literal"/></wsdl:input>
            <wsdl:output name="notif2Output"><soap:body use="literal"/></wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="PrihvatiMT910">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="mt910Input"><soap:body use="literal"/></wsdl:input>
            <wsdl:output name="notif3Output"><soap:body use="literal"/></wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="OdobrenjeMt">
        <wsdl:port binding="ws:OdobrenjeMtBinding" name="OdobrenjeMtPort">
            <soap:address location="http://localhost:8080/OdobrenjeMtPort" />
        </wsdl:port>
    </wsdl:service>
    
</wsdl:definitions>